<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039454868573-vcbrdkcuihheh864r8o2cq41khkjen8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039454868573-vcbrdkcuihheh864r8o2cq41khkjen8g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1039454868573-f5a0k92gvqmcl418t13b7qbj6gihrnf2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1_l754lsEAbXxD0-JKUqFmhhWlnfw-p4</string>
	<key>GCM_SENDER_ID</key>
	<string>1039454868573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glosoft.studentshopping</string>
	<key>PROJECT_ID</key>
	<string>student-shopping</string>
	<key>STORAGE_BUCKET</key>
	<string>student-shopping.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039454868573:ios:fb78190e0bf980aaf9a9b4</string>
</dict>
</plist>